$white: white;
$purple: purple;
$purple-dark: rgb(61, 4, 61);

html, body{
    background-color: wheat;
    padding-top: 20px;
    font-size: 1.1em;
}

.main{
    width: 80vw;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 10px;
    text-align: center;
}

h1{
    color: $purple;
    font-weight: bolder;
    margin: 10px auto;
    text-decoration: underline;
}

.options{
    margin: auto;
    width: 150px;
    form{
        label{
            margin-left: 15px;
        }
    }
}

.form{
    display: block;
    width: 90%;
    margin: auto;
    display: inline;

   .label{
    margin: 20px auto;
    text-align: left;
    display: inline;
    width: 45%;

    input{
        height: 40px;
        padding-right: 10px;
        border-radius: 5px;
        margin: 5px;
    }
   }

    .btn{
        width: 220px;
        height: 45px;
        cursor: pointer;
        background-color: $purple;
        color: $white;
        border: 5px solid $purple;
        margin: 20px;
    }

    .btn:hover{
        background-color: $white;
        color: $purple;
        border: 1px solid $purple;
        font-weight: bold;
        font-size: larger;
    }
}

/*
.list{
    table{
        width: 80%;
        margin: auto;
        border: 1px solid black;

        thead{
            background: $purple;
            color: $white;

            tr{
                th{
                    height: 40px;
                }
            }
        }

        tr{

            td{
                height: 35px;
            }
        }
    }
}
*/